@use './src/styles/variables' as *;
@use './src/styles/mixins' as *;

.project__detail {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-title {
        color: $color-secondary;
        font-family: $font-secondary;
        font-weight: $font-bold;
        font-size: clamp(3rem, 8vw, 5rem);
    }

    &-image {
        width: 100%;

        object-fit: cover;
        border-radius: 10px;
    }

    &-titleh2 {
        color: $color-secondary;
        font-family: $font-secondary;
        font-weight: $font-bold;
        font-size: $text-4xl;
    }

    &-text {
        color: rgba($color-secondary, 0.7);
        width: 50%;
        
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &-button {
        display: flex;
        gap: 1rem;
    }
}