@use './src/styles/variables' as *;
@use './src/styles/mixins' as *;

.social-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
    width: fit-content;
    white-space: nowrap;
   
    &__icon {
        font-size: 1.25rem;
        color: $color-tertiary;
    }
   
    &__label {
        color: white;
    }
    
    &--default {
        background-color: $color-quaternary;
        color: white;
        
        &:hover {
            background-color: rgba($color-secondary, 0.2);
        }
    }
}